*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
ul, ol, menu{
    list-style: none;
}

/* HEADER */
header{
    background-color: #2C3E50;
}
/* END HEADER */

/* MAIN */
/* FIRST-SECTION */
.bg-1ABC9C{
    background-color: #1ABC9C;
}
.avatar{
    height: 100px;
    background-color: red;
}
.personal-font-size{
    font-size: 14px;
}
/* END FIRST-SECTION */
/* END MAIN */


/* LAYOUT */
.list-items{
    cursor: pointer;
}