*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
ul, ol, menu{
    list-style: none;
}

/* HEADER */
header{
    background-color: #2C3E50;
}
/* END HEADER */

/* MAIN */
/* FIRST-SECTION */
.bg-1ABC9C{
    background-color: #1ABC9C;
}
.avatar{
    height: 100px;
    background-color: red;
}
.personal-font-size{
    font-size: 14px;
}
/* END FIRST-SECTION */
/* SECOND SECTION  */
.bg-FFFFFF{
    background-color: #FFFFFF;
}
.bg-BA4B63{
    background-color: #BA4B63;
}
.bg-1EA4B6{
    background-color: #1EA4B6;
}
.bg-140F0F{
    background-color: #140F0F;
}
.bg-1C83C1{
    background-color: #1C83C1;
}
.bg-0E38B5{
    background-color: #0E38B5;
}
.bg-CCB2A3{
    background-color: #CCB2A3;
}
/* END SECOND SECTION */

/* THIRD SECTION */

/* END THIRD SECTION */

/* FOURTH SECTION  */

/* END FOURT SECTION */

/* FHIFTH SECTION */
.bg-3A546D{
    background-color: #3A546D;
}
/* END FIFTH SECTION */
/* END MAIN */


/* LAYOUT */
.list-items{
    cursor: pointer;
}